.burgeroutline {
  border-color: #54b3d6;
  margin-right: 10px !important;
}

.burgermenu {
  transition: transform 0.3s;
  width: 100%;
  height: 3px;
  background-color: #54b3d6;
  transform-origin: center;
}

.logoCont {
  border: 3px solid #54b3d6;
}

.hiddenBurgermenu {
  transform: scaleY(0);
}

nav {
  background-color: #0f4255;
}

.navlinks {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 0px 0px;
  box-shadow: inset 0 0 0 0 white;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, padding .3s ease-in-out;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
}

.navlinks svg {
  transition: fill .3s ease-in-out;
  fill: white;
}

.navlinks:hover {
  box-shadow: inset 200px 0 0 0 white;
  color: #54b3d6;
}

.navlinks:hover svg, .navlinks.active svg {
  fill: #54b3d6;
}

.navlinks.active {
  box-shadow: inset 200px 0 0 0 white;
  color: #54b3d6;
}

.navbar-contact-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.navbar-second-links {
  margin-right: -30px;
  margin-top: 3px;
}

.navbar-contact-links svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: white;
}

.navbar-contact-links svg:hover {
  transform: scale(1.1);
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 35px 0 0;
}

@media (max-width: 1400px) {
  .navbar-second-links {
    margin-right: 0px;
  }
}

@media (max-width: 850px) {
  .navlinks {
    border-style: solid;
  }
  .navlinks.active{
    box-shadow: none;
    color: #54b3d6;
  }
}
