.yearTitle {
    color: #54b3d6;
    font-size: 2.5rem;
}

.publicationTitle {
    color: #54b3d6;
    transition: 0.3s ease;
}

.publicationTitle:hover {
    color: #8dc0d3;
}

.publicationList {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.publicationEntry {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
}

.publicationText {
    width: 70%;
    height: inherit;
}

.publicationImage {
    width: 30%;
    height: inherit;
}

.publicationImage img {
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right:auto
}