.researchDescImg {
    flex-direction: row;
}

.researchTitle {
    color: #54b3d6;
    transition: 0.3s ease;
    font-size: 2.5rem
}

.researchCard {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.resarchRelevant {
    margin-top: 10px;
}

.researchImageHolder img {
    height: 400px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.researchDescription {
    width: 67%;
}

.researchImageHolder {
    width: 33%
}

@media (max-width: 768px) {
    .researchDescImg {
        flex-direction: column;
    }

    .researchDescription {
        width: 100%;
    }
    
    .researchImageHolder {
        width: 100%
    }
}