@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #54b3d6;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #0f4255;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #54b3d6;
	text-decoration: inherit;
}
a:hover {
	color: #88dfff;
	transition: 0.3s ease;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	line-height: 1.1;
	letter-spacing: 0.2px;
	font-size: clamp(1.8rem, 1.2rem + 2vw, 2.5rem);
	font-weight: 700;

}