
.my-carousel .carousel-image {
    max-height: 750px; /* Set the maximum height for the focused image */
}

.my-carousel .thumbs-wrapper {
  margin: 0px !important;
}

.my-carousel .thumb {
  height: 125px !important; 
  width: 20% !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-right: 2px !important  ;
  object-fit: cover;
}

.my-carousel .thumb:hover {
  opacity: 0.7;
}
