.contact h1 {
  margin-top: 50px;
}

.contact-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 0px 200px;
  margin-top: -50px;
}

.contact-page-links {
  margin-top: 100px;
}

.contact-page-links-icons {
  display: flex;
}

.contact-page-links-icons a{
  cursor: pointer;
  padding: 10px;
}

.contact-page-links-icons img, .contact-page-links-icons svg{
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.contact-page-links-icons img:hover, .contact-page-links-icons svg:hover{
  transform: scale(1.1);
}

.contact-page-form {
  position: relative;
}

.contact-page-form-fields {
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 95px;
  margin-left: 65px;
}

.contact-page-form form h2 {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 25px;
}

.contact-page-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-page-form input, .contact-page-form textarea, .contact-page-form select {
  border: 1px solid #5EB4CB;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 200;
    font-size: 18px;
    color: #9C9C9C;
    font-family: inherit;
    padding:13px 25px;
    background: transparent;
    width:325px;
    max-width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contact-page-form select {
  padding: 0px 25px;
}

//hide textarea scrollbar
.contact-page-form textarea::-webkit-scrollbar {
  display: none;
}

.contact-page-form form textarea {
  resize: none;
  height: 150px;
}

.contact-page-form-submit {
  position: absolute;
  z-index: 99;
    bottom: 110px;
    left: 45%;
}

.contact-page-form-submit button {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

.contact-page-form-submit button svg path{
  transition: all 0.3s ease;
  transform-origin: center;
}

.contact-page-form-submit button:hover svg path{
  transform: scale(1.2);
}

.contact-page-form-submit button:active svg path{
  transform: scale(1);
}

.contact-page-form-envelope {
  width: 400px;
  position: absolute;
  top: 0px;
  left: -65px;
}

.front-svg {
  position: absolute;
  top: -2px;
  pointer-events: none;
}

// //for smaller screens
@media (max-width: 1400px) {
  .contact-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-page-links {
    margin: 50px 50px 0;
  }
}

//for the mobile styling
.mobile-contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.mobile-contact-page h2{
  margin-bottom: 40px;
}

.mobile-contact-page-links-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.mobile-contact-page-form {
  background-color: white;
  margin-top: 50px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.mobile-contact-page-form-fields {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-contact-page-form form h2, .mobile-contact-page-form-sent h2 {
  color: black;
  font-size: x-large;
  margin-bottom: 25px;
}

.mobile-contact-page-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mobile-contact-page-form input, .mobile-contact-page-form textarea, .mobile-contact-page-form select {
  border: 1px solid #5EB4CB;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 200;
    font-size: 18px;
    color: #9C9C9C;
    font-family: inherit;
    padding:13px 25px;
    background: transparent;
    width:325px;
    max-width: 100%;
    height: 30px;
}

.mobile-contact-page-form select {
  padding: 0px 25px;
}

//hide textarea scrollbar
.mobile-contact-page-form textarea::-webkit-scrollbar {
  display: none;
}

.mobile-contact-page-form form textarea {
  resize: none;
  height: 150px;
}

.mobile-contact-page-form-submit {
  padding-top: 25px;
}

.mobile-contact-page-form-sent {
  width: 325px;
  height: 100px;
}