.welcome-page {
    height: calc(100vh - 50px);
}

.welcome-page-left {
    display: grid;
    grid-template-rows: 2fr 2fr 3fr;
}

.news-links {
    box-shadow: inset 0px 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 1vw;
}

.news-links:hover {
    box-shadow: inset 500px 0 0 0 #54b3d6;
    color: white;
}

#reactgooglegraph-1 svg g:last-child {
    pointer-events: none;
}

.welcome-page-first, .welcome-page-second, .welcome-page-third {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 0.7vw;
    overflow: hidden;
    color: black;
}

@media (max-width: 1300px) {
    .welcome-page-first, .welcome-page-second, .welcome-page-third {
        font-size: 1vw;
    }
}

.carousel-div {
    overflow: hidden;
}