.loader-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .loader-body .strand {
    position: relative;
    width: 15px;
    height: 40px;
    margin: 5px;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .loader-body .strand .top,
  .loader-body .strand .bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    animation: move 3s infinite ease-in-out;
  }
  
  @keyframes move {
    0% {
      background-color: #FA8D18;
      top: 100%;
      z-index: -3;
    }
    25% {
      height: 8px;
      width: 8px;
      background-color: #FF6600;
      z-index: -3;
    }
    50% {
      background-color: #FA8D18;
      top: 0%;
      z-index: -3;
    }
    75% {
      height: 12px;
      width: 12px;
      background-color: #f5b32f;
      z-index: 3;
    }
    100% {
      top: 100%;
      background-color: #FA8D18;
      z-index: 3;
    }
  }
  