.navlinks {
  padding: 0px 0px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, padding .3s ease-in-out;
}

.navlinks:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

.navlinks.active {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
