.yearTitle {
    color: #54b3d6
}

.publicationTitle {
    color: #54b3d6;
    transition: 0.3s ease;
}

.publicationTitle:hover {
    color: #8dc0d3;
}

.publicationList {
    border: 2px solid #54b3d6;
}

.publicationEntry {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
}

.publicationText {
    width: 70%;
    height: inherit;
}

.publicationImage {
    width: 30%;
    height: inherit;
}

.publicationImage img {
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right:auto
}