.researchTitle {
    color: #54b3d6;
    transition: 0.3s ease;
}

.researchCard {
    border: 2px solid #54b3d6;
}

.researchLinks a {
    color: #54b3d6;
}

.researchLinks a:hover {
    color: #8dc0d3;
}

.resarchRelevant {
    margin-top: 10px;
}

.textLink {
    color: #54b3d6;
    transition: 0.3s ease;
}

.textLink:hover {
    color: #8dc0d3;
    transition: 0.3s ease;
}