.resourceTitle {
    color: #54b3d6;
    text-align: center;
}

.resourceCard {
    color: #54b3d6;
    transition: 0.3s ease;
}

.resourceCard:hover {
    color: #8dc0d3;
}

.resourcGeneral {
    border: #54b3d6 solid 2px;
}

.resourceCard {
    text-decoration: none;
    border: #54b3d6 solid 2px;
}

.softwareImage {
    width: fit;
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}