.members-pie {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 100px;
	font-size: large;
}

.members-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	padding: 0 20px;
}

.member-card {
	position: relative;
	width: 300px;
	height: 350px;
	display: grid;
    justify-content: center;
}

.member-card_container {
	border-radius: 50%;
	-webkit-tap-highlight-color: transparent;
	transform: scale(0.48);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 400px;
	height: 400px;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.member-card_container:hover {
	transform: scale(0.44);
}

.member-card_container-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.member-card_container.flipped .member-card_container-inner {
	transform: rotateY(180deg);
}

@keyframes filterAnimation {
	0%, 99.99% {
		filter: initial;
	  }
	  100% {
		filter: grayscale(100%) brightness(0);
	  }
}

@keyframes revertFilter {
	0%, 99.99% {
	  filter: grayscale(100%) brightness(0);
	}
	100% {
	  filter: initial;
	}
  }
  
.member-card_container.disabled {
    pointer-events: none;
}

.member-card_container.flipped .member-card_circle, .member-card_container.flipped .member-card_img {
	animation: filterAnimation 250ms forwards;
  }

  .member-card_container .member-card_circle, .member-card_container .member-card_img {
	animation: revertFilter 250ms forwards;
  }
  

.member-card_container-front, .member-card_container-back {
	position: absolute;
	width: 100%;
	height: 100%;
}

.member-card_container-front {
	clip-path: path(
		"M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
	);
	position: relative;
	transform-origin: 50%;
	top: -200px;
	pointer-events: none;
}

.member-card_circle {
	background-color: #fee7d3;
	border-radius: 50%;
	height: 380px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 210px;
	width: 380px;
}

.member-card_img {
	pointer-events: none;
	position: relative;
	transform-origin: 50% bottom;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) !important;
	transform: translateY(20px) scale(1.15);
	left: 22px;
	top: 225px;
	width: 340px;
}

.member-card_container:hover .member-card_img {
	transform: translateY(0) scale(1.3);
}

.member-card_icon {
	position: absolute;
	left: 50px;
	bottom: 50px;
}

.member-card_info {
	margin-top: -100px;
}

.member-card_container-back {
	backface-visibility: hidden;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    gap: 11px;
    row-gap: 0px;
    justify-content: center;
    top: 30px;
    height: 351px;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
}

.member-card_container-back img {
	filter: invert(1);
	width: 90px;
}

@media (max-width: 900px) {
	.members-list {
		gap: 10px;
	}

	.member-card {
		width: 100px;
    	height: 200px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}

	.member-card_container-front {
		-webkit-clip-path: none;
		clip-path: none;
		top: 0px;
		height: 100px;
	}

	.member-card_img {
		transform: none;
		left: 20px;
		width: 78px;
		top: 10px;
	}

	.member-card_circle {
		height: 75px;
		left: 10px;
		top: 0px;
		width: 75px;
	}

	.member-card_links {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 5px;
	}

	.member-card_links img {
		width: 15px;
	}

	.member-card_info {
		display: flex;
		margin-top: 10px;
		font-size: small;
		flex-direction: column;
	}

	.member-card_info > :nth-child(1) {
	}

	.member-card_info > :nth-child(2) {
		font-size: x-small;
	}

}

