#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #eefaff;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.app-page {
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden
}